/* Css Reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --light_text: #FFF3E4;
  --dark_text: #483434;
  --anchor: #483434;
  --dark_bg: #483434;
  --light_bg: #FFF3E4;
  --dark_border: #483434;
  --light_border: #FFF3E4;
  --border_rad: 30px;
}

body {
  height: auto;
  background-color: #FFF3E4;
}

/* Header Section */

.logo {
  opacity: 1;
  transition: 0.4s ease-in-out;
  margin-left: 5px;
  height: 3rem;
}

.logo:hover {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
}

.navbar a {
  color: var(--dark_text);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 1%;
  background-color: var(--light_bg);
}

.nav-link {
  font-weight: bold;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 3rem;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

a.active {
  color: orange;
}

.nav-link:hover {
  opacity: 1;
}

.burger_menu {
  display: none;
}

.burgir {
  margin-right: 5px;
}

.brand_name {
  display: none;
}

/* Banner Section */


.banner {
  position: relative;
  background-image: url(/Resources/img/img-banner-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: var(--border_rad);
  box-shadow: 25px 25px 70px #362727;
  overflow-x: hidden;
}

.banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--light_bg);
  color: var(--dark_text);
  font-size: 1.2rem;
  text-align: center;
  line-height: 3;
  font-family: "Barlow";
  font-weight: bold;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border-radius: var(--border_rad);
  background: #FFF3E4;
  box-shadow: inset -20px -20px 40px #d4cabd,
    inset 20px 20px 40px #ffffff;
}

/* Button Style */

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--dark_border);
  overflow: hidden;
  border-radius: 30px;
  color: var(--dark_text);
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: bold;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--dark_bg);
  border-radius: var(--border_rad);
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #483434;
  color: var(--light_text);
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* Products Section */

.product_heading {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-family: "Barlow";
}

.container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.product_container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}


.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.product_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 500px;
  margin: 40px 10px;
  border-radius: var(--border_rad);
  box-shadow:
    2px 2px 20px #483434,
    2px -2px 20px #483434;
}

.product_box p {
  height: 100px;
  width: auto;
  text-align: left;
  padding: 10px;
}

.product_box h3 {
  text-transform: uppercase;
}

.img_container {
  height: 350px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
}

.img1 {
  background-image: url(/Resources/img/img-coffee-beans.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url(/Resources/img/img-coffee-coaster.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img3 {
  background-image: url(/Resources/img/img-coffee-mug.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Footer Section */

footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  border-top: solid 2px var(--dark_border);
}



/* Media Queries */

@media only screen and (max-width: 768px) {
  .navbar a {
    display: none;
  }

  .burger_menu {
    display: inline-flex;
  }

  .brand_name {
    display: inline-flex;
  }

  .banner_text {
    font-size: 2.2vw;
  }
}